@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=DM+Sans:wght@400;700&display=swap');

.container-news {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 50px;
}


.text-body {
  font-size: 18px;
}

.box-news {
  position: relative;
  max-width: 750px;
  border: 2px solid #fcb900;
  text-align: left;
  padding: 30px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 30px;
}

.img-box {
  position: absolute;
  bottom: -30px;
  right: -20px;
}

.span-box-news {
  font-size: 18px;
}

.strong-box-news {
  display: inline-block;
  max-width: 630px;
  font-size: 20px;
}

.p-box-news {
  display: inline-block;
  max-width: 550px;
  font-size: 18px;
}

.divider {
  height: 1px;
  background: linear-gradient(270deg,
      rgba(204, 244, 230, 0.34) 0%,
      #fcb900 50%,
      rgba(204, 244, 230, 0.34) 100%);
  margin-bottom: 20px;
}

.title-h2 {
  font-size: 28px;
  background-color: #fcb900;
  color: #232629;
  display: inline;
  line-height: 2.5rem;
}

.div-margin-bottom {
  margin-top: 40px;
  margin-bottom: 40px;
}


.email-news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.whats-news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-top: 10px;
}

.container-cards-news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
}

.card-news {
  width: 350px;
}

.content-card-news {
  background-color: #ebebeb;
  margin-top: -5px;
  margin: 10px;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  height: 300px;
  position: relative;
}

.container-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #5a5a5a;
}



.date-news {
  font-size: 11px;
  color: #777777;
  margin: 0;
}

.text-card {
  font-size: 16px;
  color: #212529;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;


  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.img-news img {
  width: 330px;
  margin-left: 10px;
  margin-bottom: -10px;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.button-news {
  position: absolute;
  bottom: 30px;
  border: 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: #313131;
  background-color: #ffd015;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .box-news{
   text-align: center;
   min-height: 300px;
  }
}

@media screen and (max-width: 650px) {
  .box-news{
   text-align: center;
   min-height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .box-news{
   text-align: center;
   min-height: 450px;
  }
}

@media screen and (max-width: 460px) {
  .box-news{
   text-align: center;
   min-height: 500px;
  }
}
