.container-bicentenario {
  width:100%;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: #5e5e5e;
  text-align: justify;
}

.background-header {
  background: linear-gradient(
    0deg,
    rgba(255, 250, 240, 1) 0%,
    rgba(255, 255, 255, 1) 69%
  );
}

.header-main-bicentenario {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 70%;
  margin: 0 auto;
}

.vertical-line-and-text {
  position: relative;
  max-width: 70%;
  padding: 0;
}

.vertical-line {
  content: '';
  position: absolute;
  height: 100%;
  border-right: 5px solid #f8bf00;
}

.highlighted-text {
  margin-left: 0.938rem;
  font-family: dapifer, serif;
  font-size: 1.313rem;
  font-weight: 600;
  font-style: normal;
  margin-block-start: 0;
  margin-block-end: 0;
}

.container-character-gallery {
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.background-character-gallery {
  background: linear-gradient(
    180deg,
    rgba(255, 250, 240, 1) 0%,
    rgba(255, 255, 255, 1) 85%
  );
}

.background-scroll-gallery {
  background: #f2e8d8;
}

.container-scroll-gallery {
  margin: 0 auto;
  padding: 3rem;
}
.content-carousel {
  max-width: 90%;
  margin: 0 auto;
  padding: 5rem;
}

.img-carousel {
  float: left;
  width: 25.188rem;
  height: 26.938rem;
}

@media (max-width: 768px) {
  .header-main-bicentenario {
    padding: 2rem;
    max-width: 100%;
  }
  .vertical-line-and-text {
    max-width: 100%;
  }

  .container-character-gallery {
    max-width: 100%;
    padding: 2rem;
    gap: 2rem;
  }

  .container-character-gallery {
    max-width: 100%;
    padding: 2rem;
    gap: 2rem;
  }
  .container-scroll-gallery {
    padding: 1rem;
  }

  .content-corousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    padding: 0 5rem 3rem 5rem;
  }

  .img-carousel {
    float: none;
    width: 100%;
  }
}
